---
title: "Check Verification Status"
updated: 2026-05-26
source_url: "https://docs.billit.be/docs/check-verification-status"
source_slug: "check-verification-status"
category: "webhooks-status"
topics:
  - webhooks
  - status
  - check
  - verification
---

## Verification Status of the Company

In My Company, you can check the status.

Example of a correct Verified Status:

![](https://files.readme.io/045dc0b604e73f4bb51697cb2bc847354225f55690f09b3dabbaadae4acde975-2025-12-17_11-46-12.png)

Example when user is not verified:

![](https://files.readme.io/2201edd32005c7aff0b099a969814875d878251a694de0ab7ddd476cb94e7213-2025-12-17_11-59-20.png)

## Verification Status of the Bank

![](https://files.readme.io/6b4fe1a035c57af5dff121667bbb477dc308bcfac0e9011f0a62e79b29d6aba4-2026-01-07_10-33-38.png)
